*{
    padding: 0px;
    margin:0px;
    border:border-box;
    font-family: arial;
}
.nav-bar{
   height: 60px;
   background-color: #0f1111;
   color:white;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

/*logo*/
.logo img{
   height: 50px;
   width:128.8px;   
}
.logo{
    margin-right: 10px;
}

/*for Bar item borders*/
.border{
     
    padding: 1px 1px 1px 1px;
}

.border:hover{
    border:2px solid white;
    border-radius: 4px;
}

.address-one>p{
    font-size:0.85rem;
    margin-left: 18px;
    
}

.address-two>p{
    display: inline;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 10px;
    
}



/*Search bar*/

.search{
    display: flex;
    border:2px solid transparent;
    justify-content: center;
    align-items: center;
}

.search:hover{
    border:2px solid orange;
}
.search-icon{
   height: 40px;
   width: 45px;
   background-color:orange;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
   text-align: center;
   font-size:25px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.search>select{
    height: 40px;
    width: 51px;
    background-color: rgb(233, 231, 231);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    font: 0.9rem;
}

.search>input{
    font-size: 1rem;
    height: 36px;
    width: 256px;
    border-color: transparent;
}

/*Flag box*/
.flag-EN{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 70px;
    color:white;
    
}
.flag-EN>img{
    height: 16px;
    width:21px;
}

.flag-EN>select{
    background-color: transparent;
    color: white;
    border: none;
}
/*Account Box*/

 
 .Account>.pp{
    font-size:0.8rem ;
 }

 
.Account>.soo{
    font-size: 1rem;
    font-weight: 800;
 }

 /*Returns Box*/

.Returns>.pp{
    font-size:0.8rem ;
}

.Returns>.soo{
    font-size: 1rem;
 }
 
/*Cart*/

.cart>i{
    font-size:30px ;
}

/*Options Bar*/
.options{
  height: 39px;
  background-color: #262b2b;
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}

.options>p{
    border:2px solid transparent;
}
.options>p:hover{
    border:2px solid white;
    border-radius: 4px;
}

.heroImg{
    background-image: url(hero_image.jpg);
    height: 600px;
    background-size: cover;
}

.heroImg p{
    background-color: white;
    height: 40px;
    width: 80%;
    font-size: 0.8rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:300px;
    left: 130px;

}
.heroImg a{
    color: #007185;
}

/*Big shopping boxes*/
.boxing{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(240, 236, 236);
    justify-content: space-evenly;
    position: absolute;
    top:470px;
}
.box{
    height: 400px;
    width: 357px;
    background-color: #ffffff;
    margin-bottom: 15px;
    padding-top: 10px;
    
}
.box img{
   height: 303px;
   width: 329px;
   padding: 10px 10px 10px 10px;
}

.box h2{
    padding-left:10px;
}

.box a{
    font-size: 0.9rem;
    margin-left:10px;
    color: #007185;
    padding-bottom: 9px;
}

/*footer*/

.footer-one{
    height: 49px;
    background-color: #007185;
    text-align: center;
}